<h2>Add Timezone</h2>

<div class="col-sm-6 col-sm-offset-3">
    <fieldset class="form-group">
    <select class="form-control" {{action 'change' on='change'}} id="timezone-select">
      {{#each timezones key="@index" as |item|}}
          <option value="{{item.offset}}" selected={{is-equal item selectedTimezone}}>
            {{item.name}}
          </option>
      {{/each}}
    </select>
    </fieldset>
    <button class="btn btn-primary btn-block center-block" {{action 'add'}}>Add Timezone</button>
</div>



<h2>My Timezones</h2>

<ul class="list-group text-xs-left">
  {{#each model as |time|}}
      <li class="list-group-item">
        <span class="text-muted">{{time.name}}</span>
        <button class="btn btn-danger pull-xs-right" {{action 'remove' time.id}}>Delete</button>
      </li>
  {{/each}}
</ul>
